Repository deanryandevops/WednesdaysWickedAdventures, pull requests merged in 2025-03, with the labels that each got.

#8 SCRUM-49: added dockerfile for front end
  Wednesday Wicked/Dockerfile
Labels: enhancement, frontend

#7 SCRUM-46 / Create Jenkins Pipeline for Deployment
  Jenkin-Pipelines/Deployment-Pipeline.groovy
Labels: CI/CD, Deployment

#9 Scrum 65 / Jenkins slack notifications for deployment
  Jenkin-Pipelines/Deployment-Pipeline.groovy
Labels: CI/CD, Deployment, communication

#12 SCRUM-67 / Infrastructure-session
  Jenkin-Pipelines/Infrastructure-Pipeline.groovy
Labels: CI/CD, Deployment, Infrastructure

#13 installed docker through user data script
  terraform/ec2-user-data.sh
  terraform/ec2.tf
  terraform/oututs.tf
  terraform/security_groups.tf
Labels: Infrastructure
