Repository deanryandevops/WednesdaysWickedAdventures, pull requests merged in 2025-04, with the labels that each got.

#16 SCRUM-67 / Added Front end deployment and SSH connect
  Jenkin-Pipelines/Deployment Pipeline Front End.groovy
Labels: frontend, CI/CD, Deployment

#17 SCRUM-78 / Front-End Docker Deployment on AWS
  Jenkin-Pipelines/Deployment Pipeline Front End.groovy
  Jenkin-Pipelines/Infrastructure-Pipeline.groovy
  terraform/security_groups.tf
Labels: enhancement, frontend, CI/CD, Deployment, Infrastructure

#18 SCRUM-79 / Back-End Deployment
  Jenkin-Pipelines/Deployment Pipeline Back End.groovy
Labels: enhancement, CI/CD, Deployment, back-end

#19 Scrum 80 remove dcoumentdb terraform
  terraform/documentdb.tf
  terraform/variables.tf
Labels: Infrastructure

#20 update frontend and backend dockerfiles for correct files into image
  Frontend/Dockerfile
  backend/Dockerfile
Labels: CI/CD, Deployment
